body{
    margin: auto;
}
.logo{
    margin-left: 30px;
}
.navbar{
    position: relative;
    z-index: 1;
    margin-bottom: -50px;
    padding: 0;
}
.navbar-collapse{
    justify-content: center;
} 
.nav-link{
color: white;
}
.navbar-toggler-icon{
color: aqua;
}
.btn{
    color: white;
}
.display-4{

}
.title{
    position: absolute;
    z-index: 2;
    color:white;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.d-block {
    height: 500px;
}
